* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}

a:hover {
    transform: scale(1.2); 
    transition: transform 0.3s
}

#logo {
    font-size: 3vw;
    font-weight: bold;
    color: #fff;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    background-color: #1b1a20;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
    font-size: 1.8vw;
    color: #fff;
}

#buttonMenu {
    display: none;
    cursor: pointer;
}

#buttonMenu div {
    background-color: #000;
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
    transition: 0.3s; /*animação do botão*/
}

main {
    background: url('bg.jpg') no-repeat center center;
    background-size: cover;
    height: 92vh;
}

@media (max-width: 600px) {

    #logo {
        font-size: 5vw;
    }

    #buttonMenu {
        display: block;
    }

    #menu {
        position: absolute;
        background-color: #1b1a2098;
        top: 12vh;
        right: 0;
        width: 0;
        height: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: .6s;
        overflow-x: hidden;
    }

    #nav.active #menu {
        display: flex;
        width: 50vw;
        height: 60vh;
    }

    #menu a {
        font-size: 3vw;
        border-bottom: 2px solid #000;
    }

    nav.active .line1 {
        transform: rotate(-90deg) translate(-5px, 0);
    }

    nav.active .line2 {
        transform: rotate(90deg) translate(-2px, -15px);
    }

    nav.active .line3 {
        transform: rotate(90deg) translate(-9px, -8px);
    }
}